{#
  Template for cource loaded from linked events.

  TODO: https://helsinkisolutionoffice.atlassian.net/browse/UHF-11944.

  See Drupal\helfi_kasko_content\CrossInstitutionalStudies\Controller\Controller.php
  See available variables with: {{ dd(_context) }}
#}

<p>
  {{ event.short_description }}
</p>
<div>
  {{ images }}
</div>
<h2>{{ 'Course description' | t }}</h2>
{{ description }}

{% if enum('Drupal\\helfi_kasko_content\\CrossInstitutionalStudies\\DTO\\Keyword').ContactLearning in event.keywords  %}
  <div>
    <h3>{{ 'Course information' | t }}</h3>

    <label>{{ 'Course' | t }}</label>
    <span>{{ event.title }}</span>

    {% if event.start_date and event.end_date %}
      <label>{{ 'Date' | t }}</label>
      <span>{{ event.start_date | format_date('short') }} - {{ event.end_date | format_date('short') }}</span>
    {% endif %}

    <label>{{ 'Type' | t }}</label>
    <span></span>

    <label>{{ 'Location' | t }}</label>
    <span>{{ event.location_extra_info }}</span>

    <label>{{ 'Language' | t }}</label>
    <span></span>
  </div>
{% endif %}

{% if sub_events is not empty %}
  <h2>{{ 'Other course completion options' | t }}</h2>
  {% for sub_event in sub_events %}
    <div>
      <a href="{{ url('helfi_kasko_content.cross_institutional_studies', { id: sub_event.id }) }}">{{ sub_event.title }}</a>

      {% if event.start_date and event.end_date %}
        <label>{{ 'Date' | t }}</label>
        <span>{{ sub_event.start_date | format_date('short') }} - {{ sub_event.end_date | format_date('short') }}</span>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}
