
<h3>Kielten opetus</h3>
{% if a1 %}
  {{ a1['#label'] }}

  {% for item in a1['#items'] %}
    {{ item }}
  {% endfor %}

{% endif %}









{# {{ a1 }}
{{ a2 }}
{{ b1 }}
{{ b2 }}
{{ bilingual_education}} #}

