{#
/**
 * @file
 * Theme override for a group menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - menu_link_parent: The parent menu item.
 *   - title: Parent item's title.
 *   - url: Parent item's URL.
 */
#}
{% if menu_link_parent.title and menu_link_parent.url %}
  {% set link_title = menu_link_parent.title %}
  {% set link_url = menu_link_parent.url %}
{% else %}
  {% set link_title = 'Home'|t %}
  {% set link_url = 'internal:/' ~ path('<front>') %}
{% endif %}

{% if menu_link_parent_is_current %}
  {% set section_menu_title_current = 'page' %}
{% else %}
  {% set section_menu_title_current = null %}
{% endif %}

{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby') }} class="sidebar-navigation sidebar-navigation--section-navigation">
  <div class="section-navigation__header">
    <div{{ title_attributes.setAttribute('id', heading_id) }} class="sidebar-navigation__title section-navigation__title">
      {% set link_attributes = {
        'id': section_menu_title_link,
        'aria-current':  section_menu_title_current,
        'class': [
          'sidebar-navigation__title-link',
        ],
      } %}

      {{ link(link_title, link_url, link_attributes) }}
    </div>
    <span class="section-navigation__toggle-wrapper">
      <button
        type="button"
        aria-expanded="false"
        aria-controls="{{ section_menu_aria_controls }}"
        aria-labelledby="{{ section_menu_title_link }}"
        aria-haspopup="true"
        class="menu__toggle-button">
        {% include '@hdbt/misc/icon.twig' with {icon: 'angle-down', class: 'menu__toggle-button-icon'} %}
      </button>
    </span>
  </div>
  <div class="section-navigation__menu-wrapper" id=" {{ section_menu_aria_controls }}">
    {# Group menu. #}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</nav>
