{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 * - unit_ids: List of TPR Unit ID's returned as the view result for
 *   Service Map embed.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
  'views',
  'views--unit-search--high-school-search',
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  'unit-search__content'
]
%}

{{ attach_library('hdbt_subtheme/high-school-search') }}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  <div class="unit-search__results" data-drupal-selector="tabbed-content" data-id-number="{{ dom_id }}">
    <div class="unit-search__result-actions">
      <h3 class="unit-search__count-container">
        {%- if total_rows -%}
          {{ total_rows }} {% trans with {'context': 'High school search count'}%}general upper secondary school{% plural total_rows %}general upper secondary schools{% endtrans %}
        {%- else -%}
          {{ 'No results'|t({}, {'context' : 'Unit search no results title'}) }}
        {%- endif -%}
      </h3>
      <div class="tabs tabs--unit-search"
           role="tablist"
           aria-label="{{ 'Toggle between list and map view'|t({}, {'context': 'Tab-list of unit-search'}) }}">
        <button class="tab tab--list"
                data-drupal-selector="tab-1--{{ dom_id }}"
                id="tab-1--{{ dom_id }}"
                role="tab"
                aria-selected="false"
                aria-controls="tab-1__content--{{ dom_id }}">{{ 'View as a list'|t }}</button>
        <button class="tab tab--map"
                data-drupal-selector="tab-2--{{ dom_id }}"
                id="tab-2--{{ dom_id }}"
                role="tab"
                aria-selected="false"
                aria-controls="tab-2__content--{{ dom_id }}">{{ 'View in a map'|t }}</button>
      </div>
    </div>
    <div class="tab__content"
         data-drupal-selector="tab-1__content--{{ dom_id }}"
         id="tab-1__content--{{ dom_id }}"
         role="tabpanel"
         aria-labelledby="tab-1--{{ dom_id }}"
         aria-hidden="true"
         tabindex="0">
      <div class="unit-search__result--list">
        {{ rows }}
      </div>
      {%- if empty -%}
        <p>{{ 'No results were found for the criteria you entered. Try changing your search criteria.'|t({}, {'context' : 'Unit search no results text'}) }}</p>
      {%- endif -%}
      {{ pager }}
    </div>
    <div class="tab__content"
         data-drupal-selector="tab-2__content--{{ dom_id }}"
         id="tab-2__content--{{ dom_id }}"
         role="tabpanel"
         aria-labelledby="tab-2--{{ dom_id }}"
         aria-hidden="true"
         tabindex="0">
      <div class="unit-search__result--map">
        <iframe title="Palvelukartta - Etusivu"
                class="unit-search__map"
                src="https://palvelukartta.hel.fi/fi/embed/search?units={{ unit_ids|join(',') }}">
        </iframe>
      </div>
      <div class="unit-search__map-actions">
        {% set link_href = 'https://palvelukartta.hel.fi/fi/embed/search?units=' ~ unit_ids|join(',') %}
        {% set link_text = 'Open large version of the map'|t %}
        {% set link_attributes = {
          'class': [
            'link',
          ],
        } %}
        {{ link(link_text, link_href, link_attributes) }}
      </div>
    </div>
  </div>
  {{ attachment_after }}
  {{ more }}
  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
